@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kosugi&display=swap");

html {
   overflow: hidden;
}

:root {
   --main-color: #1677ff;
   --bg-color: #fff;
   --bg-sub-color: #ddd;
   --mainCanvas-color: #f4f7fc;
   --text-color: #000;
   --text-sub-color: rgba(0, 0, 0, 0.65);
   --clock-color: #556;
   --border-color: #aaa;
   --shadow-out: rgba(0, 0, 0, 0.38) 0 0 1.5vh;
   --shadow-in: inset #ddd 0 0 0.7vh 0.2vh;
   --input-color: rgba(255, 255, 255, 0.6);
   --disable-day-color: rgba(0, 0, 0, 0.25);
   --scheme: light;
   --screen-width: 100dvw;
   text-align: center;
   overflow: hidden;
   color-scheme: var(--scheme) !important;
}

.mainCards,
.main,
.sche {
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.mainCards::-webkit-scrollbar,
.main::-webkit-scrollbar,
.sche::-webkit-scrollbar {
   display: none;
}

button {
   outline: none !important;
}

p {
   color: var(--text-color);
}

text,
a,
p,
h4,
button,
span,
input,
select,
Button {
   font-family: "Inter", "Kosugi", sans-serif !important;
   font-weight: 400;
   transition: 0.2s;
}

div {
   font-family: "Inter", "Kosugi", sans-serif !important;
   font-weight: 400;
}

.lastText {
   margin: 0 !important;
   font-size: 40%;
   text-align: right;
}

a {
   color: #266aff !important;
}

.card {
   padding: 2em;
}

.mainCanvas {
   position: absolute;
   width: 100%;
   height: 100dvh;
   top: 0;
   left: 0;
   overflow: hidden;
   background-color: var(--mainCanvas-color);
}

.canvas {
   width: 300%;
   height: calc(100dvh - var(--screen-width) / 7);
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   overflow: hidden;
   transition: 0.3s;
}

.bottomCanvas {
   width: 100%;
   aspect-ratio: 7/1;
   position: relative;
}

.Digit {
   margin: 2vh 0;
   color: var(--clock-color);
   font-size: min(6vw, max(5vh));
   line-height: 1.1;
   margin-top: 10%;
}

.main {
   overflow-x: hidden;
   overflow-y: scroll;
   position: relative;
   display: flex;
   flex-direction: column;
   width: calc(100% / 3);
   height: auto;
   left: 0;
   right: 0;
   text-align: center;
}

.mainCards {
   overflow-x: hidden;
   overflow-y: scroll;
   position: relative;
   display: flex;
   flex-direction: column;
   width: 80%;
   height: auto;
   left: 0;
   right: 0;
   padding: 0 10%;
   text-align: center;
}

.cardtex span,
.time {
   font-weight: 500;
}

.cardTitle,
.ant-picker-calendar-header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin: 0 2em -3% 2em;
   white-space: nowrap;
}

.changeMix {
   display: flex;
   flex-direction: column;
}

.carddiv {
   width: 100% !important;
   background-color: var(--bg-color);
   position: relative;
   border-radius: 3vh;
   border: solid var(--border-color) 0.5px;
   box-shadow: var(--shadow-out);
   margin: 5% 0;
   color: var(--text-color);
}

.card,
.scheDiv > div > .ant-picker-panel {
   border: none;
   background-color: var(--bg-color);
   border-radius: calc(3vh - 1.5vw);
   border: solid var(--border-color) 0.5px !important;
   box-shadow: var(--shadow-in);
   margin: 3% !important;
   padding: 0 !important;
   border-radius: 2vh !important;
}

input {
   text-align: center !important;
}

.ant-input {
   background-color: var(--bg-color) !important;
}

.card p,
.card a {
   white-space: nowrap;
   margin: 0 !important;
}

.subProp .time1,
.time2 {
   font-weight: 500;
}

.card h4 {
   font-size: min(3vw, max(2.5vh));
}

.cardLast {
   margin-bottom: 5vh;
}

.bottom {
   position: relative !important;
   width: 100% !important;
   height: 100% !important;
   bottom: 0;
   left: 0;
   background-color: var(--bg-color) !important;
   border-top: solid 1px #888;
   display: flex;
   justify-content: space-evenly;
}
.cardRight {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.subProp {
   display: flex;
   flex-direction: row;
   font-size: min(3vw, max(2.5vh));
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

.textbook {
   font-size: min(2.5vw, max(2vh));
   color: var(--text-sub-color) !important;
}

.linkButton {
   opacity: 0;
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

.sche {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: calc(100% / 3);
   height: 100%;
   right: 0;
   left: 0;
   text-align: center;
   overflow-x: hidden;
   overflow-y: scroll;
   transition: 0.3s;
}

.scheCardContent {
   display: flex;
   width: 100% !important;
   justify-content: space-between !important;
}

.scheDiv {
   width: 80%;
   padding: 10% 0 0;
   display: flex;
   flex-direction: column;
}

.scheCard {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.scheList {
   border-bottom: solid 1px var(--border-color);
   width: 90%;
   margin: 0 5%;
   position: relative;
}

.others,
.othersMenu {
   position: relative;
   display: flex;
   flex-direction: column;
   width: calc(100% / 3);
   height: 100%;
   right: 0;
   left: 0;
   text-align: center;
   overflow-x: hidden;
   overflow-y: scroll;
   transition: 0.3s;
}

.otherCards {
   display: flex;
   flex-direction: column;
   position: relative;
   width: 80%;
   height: auto;
   margin: 0 auto;
   padding: 10% 0 0;
}

.howtouseTop {
   height: 8%;
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.howtoline {
   margin: 5% auto;
   width: 100%;
}

.timetabletab {
   height: 90%;
}

.chapter {
   text-align: center;
}

.othercardsub,
.othercardarrow {
   display: grid;
   grid-template-columns: 2.5vh 1fr;
}

.othercardsub::before {
   content: "・";
   position: relative;
   width: 100%;
   left: 0;
   aspect-ratio: 1;
}

.othercardarrow::before {
   content: "→";
   position: relative;
   width: 100%;
   aspect-ratio: 1;
}

.othercardtext p {
   white-space: normal !important;
   overflow-wrap: anywhere;
}

.digit {
   font-weight: 500;
}

.GCHeader {
   display: flex;
   flex-direction: column;
   gap: 12px;
   padding-bottom: 12px;
}

.GCResult {
   font-size: 115%;
}

@media screen and (orientation: landscape) {
   .canvas {
      height: 92%;
   }

   .Digit {
      font-size: min(2vw, max(2.5vh));
   }

   .subProp,
   .textbook,
   .card h4 {
      font-size: min(4vw, max(1.4vh));
   }

   .PCCanvas {
      width: calc(calc(95% / 3) * 2);
      max-width: 90vh;
      height: 100%;
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 0 auto;
      right: 0;
      left: 0;
   }

   .main,
   .sche,
   .others {
      width: calc(95% / 2);
   }

   .mainCards,
   .scheDiv {
      width: 90% !important;
      padding: 10% 5% !important;
   }

   .card,
   .MuiDayCalendar-root {
      border-radius: 2vh;
   }

   .menubutton {
      background-color: rgba(0, 0, 0, 0) !important;
      color: var(--text-color) !important;
      box-shadow: none !important;
      position: absolute !important;
      right: 0;
      padding: 0 !important;
      min-width: 3% !important;
      aspect-ratio: 1 !important;
      height: auto !important;
   }
}

.changeSelect,
.cardChanged select,
.datepicker,
.workInput {
   background-color: var(--input-color);
   color: var(--text-color);
   border: solid var(--border-color) 1px;
   box-shadow: var(--shadow-out);
   border-radius: 9999px;
   text-align: center;
   padding: 6px;
   margin: 2px 0;
   font-size: 75%;
}

.changedSub select {
   width: 15%;
}

.workInput {
   font-size: 85%;
}

.datepicker {
   font-size: 85%;
   width: 100%;
   position: relative;
   display: flex;
}

.subButton,
.changedSub {
   width: 100%;
   display: flex;
   justify-content: space-between !important;
}

.cardCh {
   padding: 5% !important;
   display: flex;
   flex-direction: column;
   gap: 5px 0;
}

.changeTime {
   width: 80%;
   right: 0;
}

.changedButton {
   display: flex;
   flex-direction: row;
   text-align: center;
   justify-content: space-between;
   margin-top: 8px;
}

.changedButton Button {
   border: solid var(--border-color) 1px;
   border-radius: 9999px;
   text-align: center;
   padding: 4px;
   font-size: 110%;
   width: 45%;
}

.changeCard {
   width: 100%;
}

.changeCard > .scheText {
   font-size: 135%;
   font-weight: 500;
}

.ant-list-item-meta {
   max-width: 100% !important;
}

.ant-avatar {
   max-width: 15% !important;
}

.ant-list-item {
   padding: 12px 16px !important;
   border-block-end: none !important;
   gap: 12px;
}

.ant-list-item-meta-title {
   margin: 0 !important;
}

.ant-list-item-meta-description {
   text-align: left;
}

.ant-avatar-string {
   display: flex;
}

.ant-space-item:has(.datePicker) {
   width: 100% !important;
}

.datePicker {
   width: 100% !important;
   margin: 0 auto !important;
}

.ant-picker {
   width: 100%;
}

.changeSpace2 {
   width: 100% !important;
}

.subSelect {
   width: 100%;
}

.ant-list-item:has(.changeCard),
.ant-spin-nested-loading {
   width: 100% !important;
   text-align: left;
}

.ant-picker-body {
   padding: 8px !important;
}

.ant-picker-cell-inner {
   min-width: 32px !important;
   height: 32px !important;
   line-height: 32px !important;
}

.ant-avatar {
   background: var(--bg-color);
   color: var(--main-color);
   border: var(--main-color) solid 0.5px;
}

.howtouseTopButtons Button {
   border: none !important;
   box-shadow: none !important;
}

.ant-divider {
   margin: 8px 0 16px 0 !important;
}

.timeText {
   display: flex;
   flex-direction: row;
}

.ant-menu-item-icon {
   font-size: 200% !important;
}

.ant-menu-title-content {
   margin-inline-start: 0 !important;
   line-height: 16px;
}

.ant-picker-calendar .ant-picker-calendar-header .ant-picker-calendar-month-select,
.ant-picker-calendar .ant-picker-calendar-header .ant-picker-calendar-mode-switch,
.ant-picker-calendar .ant-picker-calendar-header .ant-picker-calendar-year-select,
.ant-picker-calendar .ant-picker-calendar-header .ant-picker-calendar-mode-switch > label {
   width: auto !important;
}

.ant-picker-calendar .ant-picker-calendar-header .ant-picker-calendar-mode-switch {
   margin-inline-start: 8px !important;
   margin-top: 0 !important;
}

.ant-picker-calendar-header {
   display: flex !important;
   padding-inline-start: 0 !important;
   padding-inline-end: 0 !important;
   position: relative !important;
   justify-content: right !important;
   right: 0 !important;
   width: calc(100% - 4em);
}

.ant-tabs-nav {
   margin: 0 16px !important;
}

.ant-picker-calendar .ant-picker-calendar-header .ant-picker-calendar-mode-switch {
   margin-top: 0 !important;
   margin-inline-start: 8px !important;
}

.ant-drawer-body {
   display: flex;
   flex-direction: column;
   background-color: var(--bg-color);
}
